/AquaTrack/.idea
AquaTrack/.idea/workspace.xml
*.xml
# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar entornos virtuales
.venv/
venv/

# Ignorar archivos temporales del sistema
.DS_Store
Thumbs.db

# Ignorar configuraciones locales
.env

# Ignorar configuración de PyCharm / IntelliJ
.idea/
*.iml
*.iws
*.ipr


# Ignorar archivos Markdown (opcional)
*.md
