# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar entornos virtuales
.venv/
venv/

# Ignorar archivos temporales del sistema
.DS_Store
Thumbs.db

# Ignorar configuraciones locales
.env
